{%- comment -%} Renders a product card. Params: product {%- endcomment -%}
<a href="{{ product.url }}" class="product-card">
  <div class="product-card-img">
    {%- if product.featured_image -%}
      <img src="{{ product.featured_image | image_url: width: 800 }}"
           alt="{{ product.featured_image.alt | escape | default: product.title }}"
           loading="lazy" width="800" height="1000">
    {%- else -%}
      {{ 'product-1' | placeholder_svg_tag }}
    {%- endif -%}
  </div>
  {%- if product.type != blank -%}
    <div class="product-card-cat">{{ product.type }}</div>
  {%- endif -%}
  <div class="product-card-name">{{ product.title }}</div>
  <div class="product-card-price">{{ product.price | money_without_trailing_zeros }}</div>
</a>
